#wheelcanvas {
  padding-left: 0;
  padding-right: 0;
  margin-left: -10%;
  margin-top: -5%;
  margin-right: auto;
  display: block;
  width: 100%;
}
@media (min-width: 690px) {
  #wheelcanvas {
    width: 60%;
  }
}
